
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Gentium+Book+Plus&family=Inter:wght@400;700&family=Lato&family=Open+Sans:wght@400;500&family=Poppins:wght@300;400;500;600&display=swap');




:root{
    --green: #bac34e;
    --black:#130F40;
    --white:#fff;
    --light-color:#666;
    --light-bg: #f3f3f3;
    --box-shadow: 0 0.5rem  1rem rgba(0, 0, 0, 1);
    --border: 0.1rem solid rgba(0, 0, 0, 1);
    --outline: 1rem solid rgba(0, 0, 0, 1);
    --outline-hover: 2rem solid var(--black);
}
*{
    font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}



@mixin grid($val){
    display: grid;
    grid-temlate-columns: repeat(auto-fit, minmax($val,1fr));
    gap: 1.5rem;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
body{
    background-color: #eee;
}
.header{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background:var(--white);
    box-shadow: var(--box-shadow);
}

.logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black);
}



.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--light-color);


}

.header .navbar a:hover{
    color: var(--green);

}
.header .icons{
    display: flex; 
    align-items: center;
}

.header .icons div{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--light-color);
    font-size: 2.5rem;
    margin-right: .3rem;
    cursor: pointer;
    text-align: center;

}

.header .icons div:hover{
background: var(--green);
color: #fff;


}
.navbar-icon{
    height: 30px;
    width: 30px;
 }

 #menu-btn{
    display:none;

 }
 .search-form{
    position:absolute;
    top: -115%;
    right: 2rem;
    width: 50rem;
    border-radius:  0.5rem;
    display: flex;
    align-items: center;
    height: 5.5rem;
    box-shadow: var(--border-shadow);
    background: var(--white);


 }


 .search-form__active{
    top:115%;

 }

 
.shopping-cart{
    position:absolute;
    top:115%;
    right: -105%;
    background: var(--white);
    border-radius: .5rem;
    box-shadow:var(--border-shadow);
    width:35rem;
    padding:2rem;



}
.shopping-cart__active{
    right: 2rem;
    transition: 0.4s linear;

}


.box{
    display: flex;
    align-items: center;
    gap:1.5rem;
    margin-bottom: 1.5rem;
    position: relative;



}

.fa-times{
    position: absolute;
    top:50%;
    right:2rem;
    transform: translateY(-50%);
    font-size: 2rem;
    color: var(--light-color);
    cursor: pointer;



}
.fa-times:hover{
    color:var(--green);
}

img{
    height: 10rem;
}
.content h3{
    font-size: 1.7rem;
    padding-bottom:  .5rem;
    color: var(--black);


}


.content span{
    font-size: 1.5rem;
    color: var(--light-color);

}

.multiply{
    margin:0 .5rem;

}

.total{
    color: var(--light-color);
    text-align: center;
    font-size: 2.2rem;

}

.btn{
   margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    background: var(--green);
    color: var(--white);
    font-size: 1.7rem;
    cursor: pointer;
    text-align: center;
    width: 100%;
}
.btn:hover{
    background: var(--black) ;
}


.login-form{
    position:absolute;
    top:115%;
    right: -105%;
    background: var(--white);
    border-radius: .5rem;
    box-shadow:var(--border-shadow);
    width:35rem;
    padding:2rem;  
    margin-bottom: 0.7rem;
}

.login-form-h3{
    color: var(--black);
    text-transform: uppercase;
    font-size: 2.2rem;
    text-align: center;
}


.box{
margin: 0.7rem 0;
border: var(--border);
padding: 1rem 1.2rem;
font-size: 1.5rem;
color: var(--black);
text-transform: none;
width: 100%;


}
.remember{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0.7rem 0;
}

label{
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}

.login-form__submit-btn{
 
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    background: var(--green);
    color: var(--white);
    font-size: 1.7rem;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

.login-form__p{
    color:var(--light-color);
    padding-top: 0.7rem;
    font-size: 1.4rem;
}

.login-form a{
   color: var(--green);
}

.login-form a:hover{
    text-decoration:underline ;
}

 input{
    height: 100%;
    width: 100% ;
    padding: 0 1.2rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform:  none;

 }
 label{
    font-size: 2.5rem;
    margin-right: 1.7rem;
    cursor: pointer;
    color: var(--light-color);
 }
 label:hover{
    color: var(--green);
 }

 .login-form__active{
right: 2rem;
transition: 0.4s linear;

 }


.space{
   min-height: 50vh; 
}


section{
    padding: 3rem 9%;
}
.footer{
    background: var(--light-bg);
}
.box-container{
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 gap: 1.5rem;
}
.box{
    display: flex;
    flex-direction: column;
    border: none;
}
.box h3{
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;
}
.box p{
    font-size: 1.5rem;
    color: var(--black);
    padding-bottom: 0.5rem;
}
.box a{
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
    display: block;
}

.box a:hover{
color: var(--green);
}
.box i{
    padding-right: 0.5rem;
    color: var(--green);
}


form input[type="email"]{
    width:100%;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: var(--black);
    margin: 1rem 0;
    text-transform: none;
}

.payment{
    width: 100%;
    margin-top: 2rem;
}

.main-container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
  }



  .main{
    flex-grow: 1;
  }
  
  .top{
    color: #fff;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 50px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
  
  }
  
  .title{
    font-size: 6rem;
    color: var(--black);
    padding: 0.5rem 0;
  }
  
  .top__link{
    background-color: #151515;
    padding: 23px;
    max-width: 430px;
    width: 100%;
    display: inline-block;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
  }
  
  .swiper::after{
    content: '';
  
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  
  .swiper-slide{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    
  }
  
  .swiper-pagination-bullet {
    width: 120px;
    height: 3px;
    background-color: var(--black);
    border-radius: 0;
    opacity: 1;
  }
  
  
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 15px;
  }
  
  
  .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 50px;
  }
  
  .swiper-pagination-bullet-active{
    height: 6px;
    background-color: #fff;
  }






















 @media (max-width:991px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }
    section{
        padding: 3rem 2rem;
    }

 }


























 @media (max-width:768px){
    html{
        font-size: 55%;
    }

    #menu-btn{
        display: inline-block;
    }

.navbar{
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--white);
    border-top: var(--border);
    border-bottom: var(--border);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}


.navbar__active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);  
}


a{
    margin: 1.5rem;
    padding: 1.5rem;
    background: var(--light-bg);
    font-size: 2rem;
    display: block;
    border-radius: 0.5rem;
}


.search-form{
    width: 100%;
    right: 0;
    border-radius: 0;
}


.search-form__active{
   top:99%;
   border-top: var(--border);
   border-bottom: var(--border);
}
.title{
    font-size: 70px;
  }
  .top__link {
    padding: 16px;
    max-width: 360px;
    font-size: 28px;
  }
  .swiper-pagination-bullet{
    width: 60px;
  }
  .swiper-pagination-bullet-active{
    height: 4px;
  }     
     

 }




  @media (max-width:450px){
    html{
        font-size: 55%;
    }

    .title{
        font-size: 60px;
      }
      .top__link {
        max-width: 310px;
        font-size: 24px;
      }
      .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
        margin: 0 10px;
      }
      .swiper-pagination-bullet{
        width: 35px;
      }

 }
